<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Retear Likelihood Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        $(document).ready(function() {
            $("#bib_div").css({'width': ($("#calculator").width() + 'px')});
        });

        function predict_retear(age, gender, osteoporosis, work_activity_level, tear_width, tear_retraction, full_thickness, fatty_infiltration, answer, answer_div) {
            resetErrors()
            $.post('{{ url_for('retear_likelihood') }}', {
                age: $(age).val(),
                gender: $(gender).val(),
                osteoporosis: $(osteoporosis).val(),
                work_activity_level: $(work_activity_level).val(),
                tear_width: $(tear_width).val(),
                tear_retraction: $(tear_retraction).val(),
                full_thickness: $(full_thickness).val(),
                fatty_infiltration: $(fatty_infiltration).val()
            })
            .done(function(response) {
                $(answer).text(Math.round(response['likelihood']*100) + '% rate of retear')
                $(answer_div).removeClass('hiddenanswer');
            })
            .fail(function(xhr, textStatus, textThrown) {
                $.each($.parseJSON(xhr.responseText), function(k,v)
                    {
                        console.log(k + " => " + v[0]);
                        const msg = '<label class="error" for="'+ k +'">'+ v[0] +'</label>';
                        $('input[id="' + k + '"], select[id="' + k + '"]').addClass('inputTxtError').after(msg);
                    })
            })
        }

        function resetErrors() {
            $('form input, form select').removeClass('inputTxtError');
            $('label.error').remove();
        }

        function hideDiv(divId) {
            $(divId).addClass('hiddenanswer')
        }
    </script>
</head>
<body>
<div id="container">
    <div id="calc_title">
        <h1>Retear Likelihood Calculator</h1>
    </div>
    <div id="calculator">
        <form>
            <div id="cal_table" class="rTable">
                <div class="rTableRow" id="age_row">
                    <div class="rTableCell">
                        <label for="age">Age</label>
                    </div>
                    <div class="rTableCell">
                        <input id="age" type="text" placeholder="Age" size="3" maxlength="3">
                    </div>
                </div>
                <div class="rTableRow" id="gender_row">
                    <div class="rTableCell">
                        <label for="gender">Gender</label>
                    </div>
                    <div class="rTableCell">
                        <select id="gender">
                            <option disabled value="-1">Gender</option>
                            <option value="1">Female</option>
                            <option value="0" selected>Male</option>
                        </select>
                    </div>
                </div>
                <div class="rTableRow" id="osteoporosis_row">
                    <div class="rTableCell">
                        <label for="osteoporosis">Osteoporosis?</label>
                    </div>
                    <div class="rTableCell">
                        <select id="osteoporosis">
                            <option disabled value="-1">Osteoporosis?</option>
                            <option value="1">Yes</option>
                            <option value="0" selected>No</option>
                        </select>
                    </div>
                </div>
                <div class="rTableRow" id="work_activity_level_row">
                    <div class="rTableCell">
                        <label for="work_activity_level">Work Activity Level</label>
                    </div>
                    <div class="rTableCell">
                        <select id="work_activity_level">
                            <option disabled value="-1">Work Activity Level</option>
                            <option value="1">High</option>
                            <option value="0" selected>Not High</option>
                        </select>
                    </div>
                </div>
                <div class="rTableRow" id="tear_width_row">
                    <div class="rTableCell">
                        <label for="tear_width">Tear Width (mm)</label>
                    </div>
                    <div class="rTableCell">
                        <input id="tear_width" type="text" placeholder="Width" size="3" maxlength="3">
                    </div>
                </div>
                <div class="rTableRow" id="tear_retraction_row">
                    <div class="rTableCell">
                        <label for="tear_retraction">Tear Retraction (mm)</label>
                    </div>
                    <div class="rTableCell">
                        <input id="tear_retraction" type="text" placeholder="Retraction" size="5" maxlength="3">
                    </div>
                </div>
                <div class="rTableRow" id="full_thickness_row">
                    <div class="rTableCell">
                        <label for="full_thickness">Full Thickness Tear?</label>
                    </div>
                    <div class="rTableCell">
                        <select id="full_thickness">
                            <option disabled value="-1">Full Thickness</option>
                            <option value="1" selected>Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="rTableRow" id="fatty_infiltration_row">
                    <div class="rTableCell">
                        <label for="fatty_infiltration">Infraspinatus Goutallier Classification</label>
                    </div>
                    <div class="rTableCell">
                        <select id="fatty_infiltration">
                            <option disabled value="-1">Goutallier Classification</option>
                            <option value="0" selected><2</option>
                            <option value="1">>=2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="calculate" onclick="predict_retear('#age','#gender','#osteoporosis','#work_activity_level','#tear_width','#tear_retraction','#full_thickness','#fatty_infiltration','#likelihood_answer','#answer_div')">Calculate!</button>
            </div>
        </form>
    </div>
    <div class="answer hiddenanswer" id="answer_div">
        <div class="intermediate">
            <div id="likelihood_answer"></div>
            <span id="close" onclick="hideDiv('#answer_div')">x</span>
        </div>
    </div>
</div>
<div class="bib_div" id="bib_div">
    Provided predictions are based on analysis of >2500 patients spanning the following studies:
    <ul>
        <li>Diebold G, Lam P, Walton J, Murrell GAC. Relationship Between Age and Rotator Cuff Retear: A Study of 1,600 Consecutive Rotator Cuff Repairs. J Bone Joint Surg Am. 2017;99(14):1198-1205. doi:<a href="http://dx.doi.org/10.2106/JBJS.16.00770">10.2106/JBJS.16.00770</a>.</li>
        <li>Kwon J, Kim SH, Lee YH, Kim TI, Oh JH. The Rotator Cuff Healing Index: A New Scoring System to Predict Rotator Cuff Healing After Surgical Repair. Am J Sports Med. 2018;103(6):036354651881076-036354651881078. doi:<a href="http://dx.doi.org/10.1177/0363546518810763">10.1177/0363546518810763</a>.</li>
        <li>Keener JD, Galatz LM, Stobbs-Cucchi G, Patton R, Yamaguchi K. Rehabilitation following arthroscopic rotator cuff repair: a prospective randomized trial of immobilization compared with early motion. J Bone Joint Surg. 2014;96(1):11-9.</li>
        <li>
            Unpublished analysis of data from the University of Utah encompassing the following studies:
            <ul>
                <li>Tashjian, R., Granger, E., Zhang, Y., Teerlink, C., Cannon-Albright, L. (2016). Identification of a genetic variant associated with rotator cuff repair healing. Journal of Shoulder and Elbow Surgery  25(6), 865 872. <a href="https://dx.doi.org/10.1016/j.jse.2016.02.019">https://dx.doi.org/10.1016/j.jse.2016.02.019</a></li>
                <li>Tashjian, R., Erickson, G., Robins, R., Zhang, Y., Burks, R., Greis, P. (2017). Influence of Preoperative Musculotendinous Junction Position on Rotator Cuff Healing After Double-Row Repair Arthroscopy: The Journal of Arthroscopic & Related Surgery  33(6), 1159-1166. <a href="https://dx.doi.org/10.1016/j.arthro.2016.12.010">https://dx.doi.org/10.1016/j.arthro.2016.12.010</a></li>
                <li>Tashjian, R., Granger, E., Chalmers, P. (2018). Healing Rates and Functional Outcomes After Triple-Loaded Single-Row Versus Transosseous-Equivalent Double-Row Rotator Cuff Tendon Repair Orthopaedic Journal of Sports Medicine  6(11), 2325967118805365. <a href="https://dx.doi.org/10.1177/2325967118805365">https://dx.doi.org/10.1177/2325967118805365</a></li>
            </ul>
        </li>
    </ul>
    Data entered into the calculator is recorded and may be subsequently analyzed for publication.
</div>
</body>
</html>
