<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewstyle.css') }}">
</head>
<body>
<div class="rTable">
    <div class="rTableRow">
        {%  for friendly_name in friendly_names %}
        <div class="rTableHead">{{ friendly_name }}</div>
        {%  endfor %}
    </div>
    {%  for prediction in predictions %}
    <div class="rTableRow">
            {%  for name in names %}
            <div class="rTableCell">{{ prediction[name] }}</div>
            {%  endfor %}
    </div>
    {%  endfor %}
</div>
</body>
</html>